:root{
    margin: 0px;
    font-family: "alice";
    line-height: 150%;
    color: #573A37;
}

body{
    background-image: url(assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto 28px;
}

img{
    border-radius: 16px;
}

main{
    padding: 24px;
}

section + section {
    margin: 24px 0 24px 0;
}


#about p + p {
    margin: 12px 0 0 0;
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{
    font-size:24px;
}

h1, h2{
    color: #291B1A;
    margin: 0 0 4px 0;
}

footer{
    text-align: center;
    padding: 0 0 48px;
}

footer img{
    vertical-align: middle;
}
